
.container{
	width: 970px;
}
.notice{
	margin: 0 0 10px;
	color: green;
}


h1,h2{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p, ol, ul, td,.top-text {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
}
a:visited {
    color: #666;
}
header{
	background-color: #222;
	min-height: 51px;
}
nav{
	list-style: none;
}
.header-title{
	color: #fff;
	float: left;
	font-size: 20px;
}
.header-list{
	float: right;
	margin-top: 3px;
	margin-bottom: 0;
	margin-right: -13px;
}
li{
	display: inline-block;
}
li>a{
	padding-top: 15px;
	padding-bottom: 15px;
}
li>a>span:hover{
	color: #fff;
	text-decoration: none;
}
.list-logo{
	color: #9d9d9d;
	font-size: 13px;
	padding: 15px 13px;
	line-height: 20px;
}
.logo{
	color: #333;
}
.field,.actions{
	margin-bottom: 10px;
}
.sign-link>a:hover,
tr>td>a:hover
{
	background-color:#000;
}
table{
	width: 100%;
    max-width: 100%;
	margin-bottom: 20px;
}
thead>tr>th{
	border-bottom: 2px solid #ddd;
	padding: 8px;
}
tbody>tr>th,
tbody>tr>td{
	padding: 8px;
	border-top: 1px solid #ddd;
	vertical-align: top;
}
.user-show-table:hover{
	background-color: #f5f5f5;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.actions {
    margin-bottom: 10px;
}